<nav class="navbar navbar-default">
    <h1>Dashboard</h1>
    <a class="btn btn-primary" href="/new/course/">Add new course</a>
</nav>

<div class="row row-cols-1 row-cols-md-2 g-4 width: 18rem" ;>
    {{#each courses}}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.code}}</p>
                <a href="./{{this.id}}" class="btn btn-primary btn-lg">Open</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>