<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="google-signin-client_id"
        content="862709178494-q4vb0icbotbclb6r77nkm6dppug8ihac.apps.googleusercontent.com">

    <title>{{title}}</title>

    <!-- Bootstrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>LTU</h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <div class="g-signin2 d-none" data-onsuccess="onSignIn"></div>
                    {{#if session.signedIn}}
                    <a href="#" onclick="signOut()">
                        <i class="glyphicon glyphicon-user"></i>
                        Sign out
                    </a>
                    {{else}}
                    <a href="#" onclick="signIn()">
                        <i class="glyphicon glyphicon-user"></i>
                        Sign in
                    </a>
                    {{/if}}
                </li>
                <li>
                    <a href="/">
                        <i class="glyphicon glyphicon-th-large"></i>
                        Dashboard
                    </a>
                    <a href="/">
                        <i class="glyphicon glyphicon-book"></i>
                        Courses
                    </a>
                </li>
            </ul>
        </nav>

        <div id="content">
            {{{body}}}
        </div>

    </div>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Google signin -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="/js/oauth.js"></script>
</body>

</html>